{% extends 'home.html' %}

{% block extra_css %}

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background-color: #f8f9fa;
        }
        h1 {
            color: #4CAF50;
            text-align: center;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;

        }
        th, td {
            border: 1px solid #dddddd;
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .highlight-row {
            background-color: #4CAF50;
            color: white;
            font-weight: bold;
        }
        a {
            display: block;
            margin-top: 20px;
            text-align: center;
            text-decoration: none;
            color: #4CAF50;
            font-size: 18px;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
    {% endblock extra_css %}
<body>
    {% block search %}
    <h1>Booking Confirmation</h1>
    {% endblock search %}

    {% block BusData %}
    <table>
        <tr>
            <th>Field</th>
            <th>Details</th>
        </tr>
        <tr>
            <td>Customer Name</td>
            <td>{{ data.customer_name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ data.customer_email }}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{ data.customer_age }}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{ data.gender }}</td>
        </tr>
        <tr>
            <td>Seats</td>
            <td>{{ data.seats }}({{data.selected_seats}})</td>
        </tr>
        <tr>
            <td>Bus Name</td>
            <td>{{ data.bus_schedule.bus.bus_name }} ({{ data.bus_schedule.bus.bus_type }})</td>
        </tr>
        <tr>
            <td>Payment Status</td>
            <td>{{ data.payment_status }}</td>
        </tr>
        <tr class="highlight-row">
            <td>Total Payment</td>
            <td style="text-align: center;">{{ total_payment }}</td>
        </tr>
    </table>
    {% endblock BusData %}
</body>