{% extends 'base.html' %} 
{% comment %} {% extends 'base.html' %} 
{% block content%}
<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Password Reset Form</h1>
  <h6 style="width: 60%; margin: 0 auto">
    Please enter your new password so we can verify.
  </h6>
</div>
<br />
<form action="" method="POST">
  {% csrf_token %} 
  {{form}}
  <input type="submit" value="Reset Password"/>
</form>

{% endblock%} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Password Reset Form</h1>
    <h6 style="width: 60%; margin: 0 auto">
      Please enter your new password so we can verify.
    </h6>
  </div>
  <br />
  <form action="" method="POST">
    {% csrf_token %} 
    {{form}}
    <input type="submit" value="Reset Password"/>
  </form>
  
</body>
</html>